<div>
    <a href="/api/products/form">Add product</a>
</div>
<div class="products-list">
        <div class="product-list-not {{data.state}}">
            <h2>{{data.msj}}</h2>
        </div>
    {{#each data.db}}
        <div class="card">
            <h2>
                {{this.title}}
            </h2>
            <h2>
                {{this.description}}
            </h2>
            <h2>
                $ {{this.price}}
            </h2>
        </div>
    {{/each}}
</div>

